.react-icons {
  font-size: 24px;
  vertical-align: middle;
}

.react-icons-sidebar {
  font-size: 16px;
  vertical-align: middle;
}

.react-icons-stat {
  font-size: 36px;
  vertical-align: middle;
}
