.menu {
  font-size: 0.9rem !important;
}

.menu-list a.is-active {
  background-color: #e3f2fd !important;
  color: #414141 !important;
  border-radius: 5px;
}

.menu-label:not(:last-child) {
  margin-bottom: 0.5em;
}
